<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> First section : Data cleaning  </center>

In this notebook you will be cleaning your dataset and making sure it's fully ready for modeling.

The used dataset is [Hepatitis C  dataset](https://www.kaggle.com/fedesoriano/hepatitis-c-dataset)

## Data preparation 
As a first step we need to prepare the data :

1. Read the data set as a data frame ( file name is HepatitisCdata.csv) 
2. The here are the column of your dataset:
    1) X (Patient ID/No.)
    2) Category (diagnosis) (values: '0=Blood Donor', '0s=suspect Blood Donor', '1=Hepatitis', '2=Fibrosis', '3=Cirrhosis') ( the target ) 
    3) Age (in years)
    4) Sex (f,m)
    Attributes 5 to 14 refer to laboratory data:
    5) ALB : Albumin Blood Test
    6) ALP : Alkaline phosphatase
    7) ALT : Alanine Transaminase
    8) AST : Aspartate Transaminase
    9) BIL : Bilirubin
    10) CHE : Acetylcholinesterase
    11) CHOL : Cholesterol
    12) CREA : Creatinine 
    13) GGT : Gamma-Glutamyl Transferase
    14) PROT : Proteins
    
3. Remember your model only accepts numbers so make sure you deal properly with the missing values and the data types and justify your solution choices 
 
4. Make sure the dataset shape in the end is : rows 615 and  14 columns 
 
5. Once finished save the cleaned dataset as "clean_HepatitisC.csv" file

In [2]:
import pandas as pd 
import numpy as np

In [3]:
#To-Do: read the dataset 
data = pd.read_csv("HepatitisCdata.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  615 non-null    int64
 1   Category    615 non-null    object
 2   Age         615 non-null    int64
 3   Sex         615 non-null    object
 4   ALB         614 non-null    float64
 5   ALP         597 non-null    float64
 6   ALT         614 non-null    float64
 7   AST         615 non-null    float64
 8   BIL         615 non-null    float64
 9   CHE         615 non-null    float64
 10  CHOL        605 non-null    float64
 11  CREA        615 non-null    float64
 12  GGT         615 non-null    float64
 13  PROT        614 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 67.4+ KB

# To-Do  Start investigating the data types and correcting that

* As we see, we have 2 categorical attributes: Category and Sex
* Then, we will check how many categories there are in each attribute, that will help us to convert them into numerical values using dictionnary

In [6]:
data.Sex.unique()

array(['m', 'f'], dtype=object)

In [5]:
data.Category.unique()

array(['0=Blood Donor', '0s=suspect Blood Donor', '1=Hepatitis',
       '2=Fibrosis', '3=Cirrhosis'], dtype=object)

* Here, we will use dictionnary to define new features with numerical values and then we will replace them in our data

In [13]:
numerical_Sex ={"Sex": {"m":0, "f": 1}}
numerical_Category={"0=Blood Donor": 1,"0s=suspect Blood Donor": 1, "1=Hepatitis":2,"2=Fibrosis":3, "3=Cirrhosis":4  }

In [14]:
data=data.replace(numerical_Sex)
data=data.replace(numerical_Category)

In [15]:
data.Sex.unique()

array([0, 1], dtype=int64)

In [16]:
data.Category.unique()

array([1, 2, 3, 4], dtype=int64)

* Now, we are sure that we have only numerical attributes

> Data types are all numeric Now ! Next we need to deal with missing values for the feature columns

#To-Do list all the columns that contain missing values along with their counts

In [ ]:
# To-Do Start providing solutions for each column that has missing data 
# Treat each case seperately 
# Hint : no data row should be deleted 
# Provide evidence that you filled those missing values after each step

Detect missing values:
df. isna(). sum() returns the number of missing values in each column.

In [18]:
data.isna().sum()

Unnamed: 0     0
Category       0
Age            0
Sex            0
ALB            1
ALP           18
ALT            1
AST            0
BIL            0
CHE            0
CHOL          10
CREA           0
GGT            0
PROT           1
dtype: int64

So features having missing values are: ALB, ALP, ALT, CHOL, PROT



Since, no data row should be deleted, we will use Imputation: mean (numerical data) else mediand and  mode 
    df["Name"].filln(df["Name"].mean(), inplace=True)

In [22]:
data["ALB"].fillna(data["ALB"].mean(), inplace=True)
# we will verify if there is no missing value in this attribute 
data.ALB.isna().sum()

0

In [23]:
data["ALP"].fillna(data["ALP"].mean(), inplace=True)
# we will verify if there is no missing value in this attribute 
data.ALP.isna().sum()

0

In [24]:
data["CHOL"].fillna(data["CHOL"].mean(), inplace=True)
# we will verify if there is no missing value in this attribute 
data.CHOL.isna().sum()

0

In [25]:
data["PROT"].fillna(data["PROT"].mean(), inplace=True)
# we will verify if there is no missing value in this attribute 
data.PROT.isna().sum()

0

> We have no more missing data
As an optional thing we can also rename the first column as 'index' or "ID" instead of Unnamed

In [26]:
data.columns

Index(['Unnamed: 0', 'Category', 'Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST',
       'BIL', 'CHE', 'CHOL', 'CREA', 'GGT', 'PROT'],
      dtype='object')

In [27]:
data.rename(columns={'Unnamed: 0': "ID"}, inplace=True)

In [28]:
data.columns

Index(['ID', 'Category', 'Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL',
       'CHE', 'CHOL', 'CREA', 'GGT', 'PROT'],
      dtype='object')

### 6. Save the clean dataset :

In [30]:
# Don't forget to drop the index 
data.to_csv('Saved/DataCleaning.csv', index=False)